<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,94}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{60,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{56,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{56,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{54,94}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{54,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,68},{56,94}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{64,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{64,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{72,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,92}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,204},{72,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,92}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{72,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,92}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,126},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{76,92}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{70,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ec668b3bcfd4faaed01e7677fafeab:1/1$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
