<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{100,80}}</string>
                <key>offset</key>
                <string>{40,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,95},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{118,108}}</string>
                <key>offset</key>
                <string>{44,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,87},{118,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,156},{134,124}}</string>
                <key>offset</key>
                <string>{49,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,79},{134,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{138,138}}</string>
                <key>offset</key>
                <string>{53,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,73},{138,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{136,146}}</string>
                <key>offset</key>
                <string>{55,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{136,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,152}}</string>
                <key>offset</key>
                <string>{55,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,74},{138,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6f62cb7ec59f9f785ee93b1d9b4ed3f:1/1$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
