<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{65,54},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,41}</string>
                <key>spriteSourceSize</key>
                <string>{94,41}</string>
                <key>textureRect</key>
                <string>{{64,205},{94,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,29}</string>
                <key>spriteSourceSize</key>
                <string>{100,29}</string>
                <key>textureRect</key>
                <string>{{109,160},{100,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,41}</string>
                <key>spriteSourceSize</key>
                <string>{95,41}</string>
                <key>textureRect</key>
                <string>{{66,108},{95,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>banker5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1,197},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{1,54},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,51}</string>
                <key>spriteSourceSize</key>
                <string>{125,51}</string>
                <key>textureRect</key>
                <string>{{129,1},{125,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,31}</string>
                <key>spriteSourceSize</key>
                <string>{127,31}</string>
                <key>textureRect</key>
                <string>{{182,1},{127,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,51}</string>
                <key>spriteSourceSize</key>
                <string>{126,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1,128},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{160,191},{51,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,29}</string>
                <key>textureRect</key>
                <string>{{211,130},{64,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,23}</string>
                <key>spriteSourceSize</key>
                <string>{76,23}</string>
                <key>textureRect</key>
                <string>{{215,1},{76,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,30}</string>
                <key>spriteSourceSize</key>
                <string>{65,30}</string>
                <key>textureRect</key>
                <string>{{109,128},{65,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tie5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{199,196},{51,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>table_put_chips.png</string>
            <key>size</key>
            <string>{241,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f48151c5435be0384209ef363b1d6dd9:53863aafe0e67b54538cea05260d63c9:346e370146ad2265f16cd8b8b6f30a8b$</string>
            <key>textureFileName</key>
            <string>table_put_chips.png</string>
        </dict>
    </dict>
</plist>
