<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clear_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{119,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>clear_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{119,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>clear_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{119,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>deal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>deal_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{119,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>deal_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{119,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>repeat_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>repeat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{119,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87cea344fbc7ce43cf28703c0b201d5:1/1$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
