<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{1,401},{51,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blank_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{44,401},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_enable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,48}</string>
                <key>textureRect</key>
                <string>{{1,301},{118,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clear_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,48}</string>
                <key>textureRect</key>
                <string>{{1,351},{118,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deal_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{119,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deal_enable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{1,101},{119,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deal_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{1,151},{119,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{44,444},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>repeat_enable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{1,201},{119,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>repeat_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{1,251},{119,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button_new.png</string>
            <key>size</key>
            <string>{121,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c7cc4abf0b639301704bdd79f65b4f:f1d4d5e1d51549e51b8a9a68259e560b:f4fc088738dc672ca17c16b2387fa128$</string>
            <key>textureFileName</key>
            <string>button_new.png</string>
        </dict>
    </dict>
</plist>
