<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>score_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,118}</string>
                <key>spriteSourceSize</key>
                <string>{264,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_board_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,118}</string>
                <key>spriteSourceSize</key>
                <string>{264,118}</string>
                <key>textureRect</key>
                <string>{{267,1},{264,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>score_card.png</string>
            <key>size</key>
            <string>{532,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26f974c22c6f9e354860bffe5f890c2f:3be6efa895bc2ff3cf44dacff6507368:7aaaaa8c070689fb964735dde299ca82$</string>
            <key>textureFileName</key>
            <string>score_card.png</string>
        </dict>
    </dict>
</plist>
