<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardClubs10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{46,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{46,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{91,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{91,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{136,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{136,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubs9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{181,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubsA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{181,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubsJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{226,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubsK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{226,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardClubsQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{271,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{271,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{316,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{316,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{361,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{361,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{406,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{406,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{451,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamonds9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{451,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamondsA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{496,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamondsJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{496,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamondsK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{541,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardDiamondsQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{541,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{586,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{586,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{631,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{631,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{676,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{676,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{721,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{721,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHearts9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{766,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHeartsA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{766,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHeartsJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{811,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHeartsK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{811,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardHeartsQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{856,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpadeQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{856,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{901,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{901,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{946,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{946,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{991,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{991,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1036,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1036,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpades9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1081,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpadesA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1126,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpadesJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1081,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSpadesK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{1126,61},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1170,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3cbfb48c6927d8beed33d1c397d713c:e66963b0cf4e2e6a12f2b544523e5cad:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
